* {
  --containerSize: min(90vw, 50vh);
}

.container {
  padding: 10px; 
  height: var(--containerSize);
  width: var(--containerSize);
  margin: 0 auto;
}

.boardImage {
  height:100%;
  text-align:center; 
  margin: 0 auto;
  background-repeat:no-repeat;
  background-size:contain;
  display: flex;
  flex-wrap: wrap;
  background-position:center;
  justify-content:space-around;
  align-items:center;
  border-radius: 10px;
}

.boardTile {
  width: 32%;
  height: 32%;
  background-color: rgba(192, 139, 154, 0.1);
  border-radius: 10px;
} 

.boardTile:hover {
  background-color: rgba(192, 139, 154, 0.9);
}
