* {
  --containerSize: min(90vw, 70vh);
}

.container {
  padding: 10px;
  height: var(--containerSize);
  width: var(--containerSize);
  margin: 0 auto;
}

.boardImage {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  background-position: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.boardTile {
  width: 32%;
  height: 32%;
  background-color: rgba(192, 139, 154, 0.1);
  border-radius: 10px;
}

.boardTile:hover {
  background-color: rgba(192, 139, 154, 0.9);
}

.redPiece,
.bluePiece {
  margin: 0 auto;
  opacity: 1;
  border-radius: 10px;
}

.pieceContainer {
  height: 100%;
  position: relative;
}

.redPiece {
  height: 10%;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 45%;
}

.bluePiece {
  height: 100%;
  width: 10%;
  background-color: blue;
  position: relative;
}
